.expandingContainer {
	position: absolute;
	width: 100%;
	bottom: 0;
	right: 0;
	overflow: hidden;
}

.container {
	width: 100%;
	height: 100%;
	position: relative;
}

.container .paragraph {
	margin-bottom: 1.5rem;
}
